.login__tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin-bottom: 1rem;
}

.login__tabs::before {
  width: 16rem;
  height: 0;
  position: absolute;
  content: " ";
  bottom: 0;
  border: var(--primary-2) solid 0.0625rem;
  border-radius: 0.5rem;
}

.login__tab {
  position: relative;
  margin: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.login__tab--active::before {
  width: 110%;
  height: 0;
  position: absolute;
  content: " ";
  bottom: -0.5625rem;
  left: -5%;
  border: var(--primary-2) solid 0.125rem;
  border-radius: 0.5rem;
}

.login__tab:hover {
  font-weight: bold;
}

.login__status {
    padding: 0 0 1rem 0;
    font-size: .9rem;
    color: transparent;
}

.login__inputs {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

.login__inputs--active {
  display: flex;
}

.login__input {
  background-color: var(--neutral-3);
  border: var(--primary-2) solid 0.0625rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  color: var(--text-colour);
  margin: 0.25rem;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}
