.center {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: left;
}

.tab-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab-bar::before {
  width: 66rem;
  height: 0;
  position: absolute;
  content: " ";
  bottom: 0;
  border: var(--primary-2) solid 0.0625rem;
  border-radius: 0.5rem;
}

.tab {
  position: relative;
  margin: 0.5rem 2rem 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.tab--active::before {
  width: 110%;
  height: 0;
  position: absolute;
  content: " ";
  bottom: -0.5625rem;
  left: -5%;
  border: var(--primary-2) solid 0.125rem;
  border-radius: 0.5rem;
}

.tab:hover {
  font-weight: bold;
}

.tab-select {
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-colour);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--neutral-4);
  border-radius: 0.5rem;
  border: 0.0625rem solid;
  border-color: var(--primary-2);
  display: none;
}

.tab-select:focus {
  outline: none;
  border-color: var(--primary-1);
}

.tab-select__chevron {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.tab-option {
  background-color: var(--neutral-4);
  border: 0.0625rem solid var(--primary-2);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.trans-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-colour);
    padding-left: 50px; padding-right: 50px;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider {
    width: 110%;
    margin-right: 50%;
    size: 5;
}

.list-view {
    display: none;
    flex-direction: column;
    max-width: 60rem;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 4rem;
}

.list-view--active {
  display: flex;
}

.button-text {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-colour);
}


button {
    cursor: pointer;
    color: var(--neutal-4);
    border: var(--neutral-5);
    padding: 16px;
    background-color: var(--primary-2);
}

button:hover {
    background-color: var(--primary-3);
}

h1 {
    color: var(--text-colour);
    font-size: 300%;
}

@media (max-width : 1250px) {
  .tab {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }

  .tab-bar::before {
    width: 100%;
  }

  .list-view {
    margin: 0 2rem;
  }
}

@media (max-width : 1250px) {
  .tab {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }

  .tab-bar::before {
    width: 100%;
  }

  .list-view {
    margin: 0 2rem;
  }
}

@media (max-width : 1000px) {
  .tab-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 16rem;
    width: 40vw;
    max-width: 30rem;
    height: fit-content;
    justify-content: center;
    margin: 0 auto 1rem;
  }

  .tab-bar::before {
    width: 110%;
  }

  .tab-select {
    display: block;
  }

  .tab-select__chevron {
    display: flex;
  }

  .tab {
    display: none;
  }
}
