.item-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 80rem;
  width: 95%;
  min-width: 20rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.list-view {
    display: none;
    flex-direction: column;
    overflow: hidden;
    overflow-x: auto;
}

.list-view--active {
  display: flex;
}

.button-text {
  font-size: xx-large;
  color: var(--text-colour);
}

.comment {
  padding: 5em 0 5em 0;
  display: flex;
  flex-direction: column;
}

.comment__user {
  display:flex;
  flex-direction: row;
  width: 100%;
}

.comment__user cdb-input {
  width: 100%;
  margin-right: 0.25rem;
}

.comment__user cdb-button {
  width: 8rem;
}

#comment-section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.commentheading {
  margin-top: 4rem;
}

h1 {
    color: var(--text-colour);
    font-size: 300%;
}
