.nav-bar {
  width: 3rem;
  margin-right: 1rem;
  position: relative;
}

.nav-bar__expander {
  width: 3rem;
  height: 100vh;

  background-color: var(--neutral-3);
  border-right: 0.0625rem solid var(--primary-1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  transition: width cubic-bezier(.6, .01, .4, .99);
  transition-duration: 0.05s;

  box-shadow: 0 0 0.75rem 0.25rem var(--neutral-3);
  z-index: 1;
}

.nav-bar__logo--invisible {
  display: none;
}

.nav-bar__expander:hover {
  width: 20rem;
  transition-delay: 0.65s;
  transition-duration: 0.5s;
}


.nav-bar__items {
   position: relative;
   display: flex;
   flex-direction: column;
}

.nav-bar__bottom-items {
  margin-top: auto;
}
