h3 {
    color: var(--text-colour);
}

:host(.item-view) {
    display: flex;
    flex-direction: row;
    border: var(--primary-1) 0.125rem solid;
    border-radius: 2rem;
    overflow: hidden;
    height: fit-content;
}

.item-view__image {
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
    background-color: gray;
    width: 10.8rem;
    height: 16rem;
}

.item-view__info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-view__heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.item-view__heading h1 {
    padding: 1.25rem 3rem 1.25rem 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: var(--text-colour);
    margin: 0;
}

.item-view__heading cdb-rating {
    padding: 1.25rem 5rem 1.25rem 5rem;
    display: flex;
    flex-direction: row;
}

.item-view__headingStretch {
    display: flex;
    position: relative;
    overflow: hidden;
    clear: both;
    flex-direction: row-reverse;
}

.item-view__description {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-colour);
    padding: 0 5rem 0 0;
}

.item-view__dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 2;
}

.item-view__show {
    display: inline-block;
}

.item-view__button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0;
    padding-right: 5em;
    padding-left: 5em;   
    border-radius: 1rem;
    color: var(--neutal-4);
    border: var(--neutral-5);
}

.item-view__headerBox {
    background-color: var(--primary-4);
    position: static;
    padding: 0 5rem 0 5rem;
    border: var(--neutral-5);
}

.item-view__headerBox:left {
    border-bottom-left-radius: 1em;
}


.item-view__headerBox:right {
    border-bottom-right-radius: 1em;
}

.item-view__select {
    position: relative;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-colour);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--neutral-4);
    border-radius: 0.5rem;
    border: 0.0625rem solid;
    border-color: var(--primary-2);
    display: none;
  }
  
  .item-view__select:focus {
    outline: none;
    border-color: var(--primary-1);
  }
  
  .item-view__select-chevron {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    z-index: 1;
    pointer-events: none;
    display: none;
  }
  
  .item-view__select-option {
    background-color: var(--neutral-4);
    border: 0.0625rem solid var(--primary-2);
  }

  .item-view__select-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 16rem;
    width: 15vw;
    max-width: 30rem;
    height: fit-content;
    justify-content: center;
    margin: 0 auto 1rem;
  }

  .item-view__select-bar::before {
    width: 110%;
  }

  .item-view__select {
    display: block;
  }

  .item-view__select-chevron {
    display: flex;
  }