h1.title {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.layout-design {
    text-align: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.explanation {
    padding-bottom: 2rem;
}

.sub-design {
    padding-bottom: 1rem;
}