:host {
  height: 2rem;
}

.rating {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
}

.rating__number {
  margin: 0;
  padding-left: 0.125rem;
  color: var(--primary-main);
  display: none;
}

@media (max-width : 750px) {
  .rating__star {
    display: none;
  }

  .rating__star--first {
    display: block;
  }

  .rating__number {
    display: block;
  }
}
