:host {
  display: block;
  position: relative;
}

.browse__cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.browse__cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.browse__heading {
  margin: 0 0 -.7em .5em;
}

@media (max-width : 400px) {
  cdb-icon.browse__chevron {
    display: none;
  }
}

.browse__chevron {
  position: absolute;
  z-index: 2;
  top: 44%;
  cursor: pointer;
  border-radius: 25%;
  border: 0.0625rem solid var(--primary-2);
  background-color: var(--neutral-3);
  opacity: 0.8;
  width: 5vh;
  height: 5vh;
  scroll-behavior: smooth;
  transition: transform .5s ease;
}

.browse__chevron--left {
  left: 1rem;
}

.browse__chevron--right {
  right: 1rem;
}

.browse__chevron:hover {
  box-shadow: 0 0 0.75rem 0.125rem var(--neutral-3);
  transform: scale(1.1);
}
